<div class="page-header">
  <h1>Contact <small>FalafelJS</small></h1>
</div>

<address class="pull-left">
<strong>Falafel Software, Inc.</strong><br />
512 Capitola Ave.<br />
Capitola, CA 95010
</address>

<address class="pull-right">
	<abbr title="Phone">T:</abbr> 888 GOT-FALAFEL<br />
	<abbr title="Phone">P:</abbr> 831-462-0457<br />
	<abbr title="Phone">F:</abbr> 831-480-4902<br />
	<abbr title="Phone">E:</abbr> <a href="mailto:info@falafel.com">info@falafel.com</a>
</address>

<div class="clearfix"></div>

<form action="#" method="post" class="form-horizontal">
	<legend>For more information, please contact us at:</legend>
	<div class="control-group">
		<label class="control-label" for="inputName">Name</label>
		<div class="controls">
			<input type="text" name="name" id="inputName" placeholder="Name" />
		</div>
	</div>
	<div class="control-group">
		<label class="control-label" for="inputEmail">Email</label>
		<div class="controls">
			<div class="input-prepend">
      			<span class="add-on"><i class="icon-envelope"></i></span>
				<input id="inputEmail" name="email" type="text" placeholder="Email" />
			</div>
		</div>
	</div>
	<div class="control-group">
		<label class="control-label" for="inputBudget">Budget</label>
		<div class="controls">
			<div class="input-prepend input-append">
				<span class="add-on">$</span>
				<input name="budget" id="inputBudget" type="text" placeholder="Budget" />
				<span class="add-on">.00</span>
			</div>
		</div>
	</div>
	<div class="control-group">
		<label class="control-label" for="inputBudget">Interest</label>
		<div class="controls">
			<select id="inputInterest" name="interest">
				<option value="Development">Development</option>
				<option value="Training">Training</option>
				<option value="Design">Design</option>
				<option value="Other">Other</option>
			</select>
		</div>
	</div>
	<div class="control-group">
		<label class="control-label" for="inputComment">Comment</label>
		<div class="controls">
			<textarea name="comment" id="inputComment" placeholder="Comment"></textarea>
		</div>
	</div>
	<div class="control-group">
		<div class="controls">
			<label class="checkbox">
				<input name="subscibe" type="checkbox"> Subscribe
			</label>
		</div>
	</div>
	<div class="control-group">
		<div class="controls">
			<input type="submit" value="Submit" class="btn" />
		</div>
	</div>
</form>

<hr />

<h3>Map</h3>
<iframe width="100%" scrolling="no" height="550" frameborder="0" marginheight="0" marginwidth="0" src="http://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;q=512 Capitola Ave, Capitola, Santa Cruz, California 95010&amp;sll=37.0625,-95.677068&amp;sspn=52.637906,131.572266&amp;ie=UTF8&amp;cd=1&amp;geocode=FTY1NAIdyCO7-A&amp;split=0&amp;hq=&amp;hnear=512 Capitola Ave, Capitola, Santa Cruz, California 95010&amp;z=17&amp;ll=36.975926,-121.953336&amp;output=embed"></iframe>
<br />
<small><a href="http://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;q=512 Capitola Ave, Capitola, Santa Cruz, California 95010&amp;sll=37.0625,-95.677068&amp;sspn=52.637906,131.572266&amp;ie=UTF8&amp;cd=1&amp;geocode=FTY1NAIdyCO7-A&amp;split=0&amp;hq=&amp;hnear=512 Capitola Ave, Capitola, Santa Cruz, California 95010&amp;z=17&amp;ll=36.975926,-121.953336" style="color: #4695cc; text-align: left; font-size: 16px; margin: 10px 0px;" target="_blank">View Larger Map</a></small>

