<div class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="modal_title" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="modal_title"></h3>
    </div>
    <div class="modal-body">
    </div>
    <div class="modal-footer">
        <button class="btn close-modal" data-dismiss="modal" aria-hidden="true">Cancel</button>
        <button class="btn btn-primary submit-modal">Submit</button>
    </div>
</div>