<div class="page-header">
	<h1>Alerts <small><a href="http://goo.gl/JqxgO" target="_blank">http://goo.gl/JqxgO</a></small></h1>
</div>

<div class="main-message alert">
  
</div>

<p class="alert-demo">
	<a href="#" class="btn btn-medium btn-danger">Error</a>
	<a href="#" class="btn btn-medium btn-warning">Warning</a>
	<a href="#" class="btn btn-medium btn-info">Info</a>
	<a href="#" class="btn btn-medium btn-success">Success</a>
</p>

<br />

<div class="page-header">
	<h1>Notifier <small><a href="http://goo.gl/3MuTa" target="_blank">http://goo.gl/3MuTa</a></small></h1>
</div>

<p class="notify-demo">
	<a href="#" class="btn btn-medium btn-danger">Notify error</a>
	<a href="#" class="btn btn-medium btn-warning">Notify warning</a>
	<a href="#" class="btn btn-medium btn-info">Notify info</a>
	<a href="#" class="btn btn-medium btn-success">Notify success</a>
</p>