<div class="page-header">
	<h1>Grid <small><a href="http://goo.gl/Zebkm" target="_blank">http://goo.gl/Zebkm</a></small></h1>
</div>

<form action="#" method="post" class="form-inline">
	<legend>Fill out the form below to get added to the guestbook sample below:</legend>
	<input type="text" name="Name" placeholder="Name" />
	<input type="text" name="Company" placeholder="Company" />
	<input type="text" name="Comment" placeholder="Comment" />
	<input type="submit" class="btn btn-primary" />
</form>
<div class="grid"></div>