<div class="page-header">
	<h1>Twitter Bootstrap <small><a href="http://goo.gl/eRItD" target="_blank">http://goo.gl/eRItD</a></small></h1>
</div>
<div id="myCarousel" class="carousel slide">
	<div class="carousel-inner">
		<div class="item active">
			<img src="content/images/bootstrap-mdo-sfmoma-01.jpg" alt="">
			<div class="carousel-caption">
				<h4>First Thumbnail label</h4>
				<p>
					Cras justo odio, dapibus ac facilisis in, egestas eget quam. 
					Donec id elit non mi porta gravida at eget metus. Nullam id 
					dolor id nibh ultricies vehicula ut id elit.
				</p>
			</div>
		</div>
		<div class="item">
			<img src="content/images/bootstrap-mdo-sfmoma-02.jpg" alt="">
			<div class="carousel-caption">
				<h4>Second Thumbnail label</h4>
				<p>
					Cras justo odio, dapibus ac facilisis in, egestas eget quam. 
					Donec id elit non mi porta gravida at eget metus. Nullam id 
					dolor id nibh ultricies vehicula ut id elit.
				</p>
			</div>
		</div>
		<div class="item">
			<img src="content/images/bootstrap-mdo-sfmoma-03.jpg" alt="">
			<div class="carousel-caption">
				<h4>Third Thumbnail label</h4>
				<p>
					Cras justo odio, dapibus ac facilisis in, egestas eget quam. 
					Donec id elit non mi porta gravida at eget metus. Nullam id 
					dolor id nibh ultricies vehicula ut id elit.
				</p>
			</div>
		</div>
	</div><a class="left carousel-control" href="#myCarousel" data-slide="prev">‹</a> <a class="right carousel-control" href="#myCarousel" data-slide="next">›</a>
</div>

<br />

<div class="page-header">
	<h1>bxSlider <small><a href="http://goo.gl/xtDY" target="_blank">http://goo.gl/xtDY</a></small></h1>
</div>

<ul class="slider">
	<li><img src="content/images/tree_root.jpg" title="Funky roots" /></li>
	<li><img src="content/images/hill_road.jpg" title="The long and winding road" /></li>
	<li><img src="content/images/trees.jpg" title="Happy trees" /></li>
</ul>